.navbar {
    background-color: #427BD2 !important;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    margin-bottom: 0;
    margin-right: 0 auto;
    min-height: 90px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.nav-logo {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 137px;
    z-index: 1000;
}

.nav-item  {
    margin-left: auto !important;
}

.nav-link {
    color: #fff !important;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 50px;
    height: 50px;
    padding: 0.5rem;
}

.hero-container {
    background-color: #458CD6!important;
}

